.navigation{
    padding: 0px 8px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
   .navigation{
    display: flex;
    list-style-type: none;
   }